absl-py==0.9.0
astor==0.8.1
astroid==2.4.1
certifi==2020.4.5.2
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0.post1
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
dlib==19.7.0
efficientnet==0.0.4
Flask==1.1.2
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
imageio==2.8.0
importlib-metadata==1.6.1
imutils==0.5.3
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
networkx==2.4
numpy==1.19.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.5
Pillow==8.1.1
protobuf==3.12.3
pylint==2.5.2
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy==1.4.1
serial==0.0.97
six==1.14.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2020.6.3
toml==0.10.1
typed-ast==1.4.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
