.predict{
	background-color: red;
}
.container{
	
}
.header{
	background-color: blue;
	height: 100px;
	color: white;
	margin: 0;
}
#.btn{
	width: 150px;
	height: 50px;
	font-size: 30px;
	text-transform: capitalize;
	background-color: green;
	border: none;
}