<!DOCTYPE html>
<html>

<head>
    <title>Ml Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/bootstrap.css') }}">
</head>

<body>

    <div align="center" class="bg-info">
        <h1>Spam detector for Youtube comments</h1>
    </div>
    <div class="big" align="center">
        <form action="{{ url_for('apicall') }}" method="POST" enctype="multipart/form-data">
            <h3>Enter Your Image Here</h3>
            <input type="file" name="pic" id="pic" accept="image/*" capture="user">
            <br>
            <input type="submit" name="" value="Predict" class="btn btn-info">
        </form>
    </div>
</body>

</html>